<a href="https://colab.research.google.com/github/raju2309/EY_GDS/blob/main/Practice_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import datetime

DataFrame

In [2]:
students = [ 'Alice', 'Bob', 'Emily','Charlie']

In [3]:
scores = [ 90, 80, 65, 50]

In [4]:
exam_results = pd.DataFrame(
    {
        "Name" : students,
        "Scores": scores
    }
)

In [5]:
exam_results

      Name  Scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

In [6]:
exam_results.loc[0,'Scores']

90

In [7]:
exam_results.loc[:,'Scores']

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

In [8]:
exam_results.loc[2,:]

Name      Emily
Scores       65
Name: 2, dtype: object

In [9]:
exam_results["Scores"]

0    90
1    80
2    65
3    50
Name: Scores, dtype: int64

Add Columns

In [10]:
gender = ['female','male','female','male']

In [11]:
exam_results['gender']= gender

In [12]:
exam_results

      Name  Scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [13]:
exam_results['gender']

0    female
1      male
2    female
3      male
Name: gender, dtype: object

Remove Columns

In [14]:
exam_results.drop('Name',axis=1 ) # For permanent Deletion Use inplace = True after axis

   Scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

In [15]:
exam_results

      Name  Scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

Column names and Row Indexes

In [16]:
exam_results.columns

Index(['Name', 'Scores', 'gender'], dtype='object')

In [17]:
exam_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    4 non-null      object
 1   Scores  4 non-null      int64
 2   gender  4 non-null      object
dtypes: int64(1), object(2)
memory usage: 224.0+ bytes

In [18]:
exam_results.describe()

       Scores
count    4.00
mean    71.25
std     17.50
min     50.00
25%     61.25
50%     72.50
75%     82.50
max     90.00

In [19]:
exam_results.rename({'Name': 'FirstName'}, axis=1)

  FirstName  Scores  gender
0     Alice      90  female
1       Bob      80    male
2     Emily      65  female
3   Charlie      50    male

Dealing with Missing Values

In [20]:
sparse = pd.DataFrame(
    {
    'a': [1,2,3],
    'b': [np.nan,4,np.nan],
    'c': [5, np.nan,np.nan]}

)

In [21]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [22]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [23]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [24]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [25]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

Group By

In [26]:
exam_results.groupby('gender').mean()

        Scores
gender
female    77.5
male      65.0

In [27]:
exam_results

      Name  Scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [28]:
mylist=[1,2,1,2]

exam_results.groupby(mylist).get_group(1)

    Name  Scores  gender
0  Alice      90  female
2  Emily      65  female

In [29]:
exam_results.groupby(mylist).get_group(2)

      Name  Scores gender
1      Bob      80   male
3  Charlie      50   male

In [30]:
# Group the people who obtained marks above or below 70

above_70 =exam_results['Scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: Scores, dtype: bool

In [ ]:
exam_results

      Name  Scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [31]:
# the mean scores of the students who scored above or below 70
exam_results.groupby(above_70).mean()

        Scores
Scores
False     57.5
True      85.0

Merging and Joining

In [32]:
contacts = pd.DataFrame(
    {
     'Name' :['Alice','Charlie'] ,
     'Tel'  :['+91 999 999 99 99', '+91 888 888 88 88'] 
    }
)

In [33]:
contacts

      Name                Tel
0    Alice  +91 999 999 99 99
1  Charlie  +91 888 888 88 88

In [34]:
exam_results.merge(contacts, left_on='Name', right_on='Name')  # defaults to inner join

      Name  Scores  gender                Tel
0    Alice      90  female  +91 999 999 99 99
1  Charlie      50    male  +91 888 888 88 88

In [35]:
exam_results.merge(contacts, left_on='Name', right_on ='Name', how ='outer')

      Name  Scores  gender                Tel
0    Alice      90  female  +91 999 999 99 99
1      Bob      80    male                NaN
2    Emily      65  female                NaN
3  Charlie      50    male  +91 888 888 88 88